* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
}

.container {
    width: 80%;
}

.flex {
    display: flex;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

main {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    margin-top: 40px;
    align-items: center;
    justify-content: center;

}

.film-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hover-cover {
    position: relative;
    width: auto;
    height: 100%;
    background: green;
}

.img-box:hover .hover-cover {
    background: rgba(black, black, black, 0.2);
}

.film-info {
    position: absolute;
    top: 20px;
    z-index: 10;
}

.img-box {
    border: 2px solid white;
    width: 100%;
}