* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
}

.flex {
    display: flex;
}

.mx {
    margin: 20px 20px;
}

.white {
    color: white;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}

#main-content {
    display: flex;
    min-height: 100vh;
    overflow-y: scroll;
    align-items: center;
    justify-content: center;

}

.film-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.movie {
    position: relative;
    width: auto;
    height: auto;
}

.movie:hover .img-box {
    opacity: 0.2;
}

.movie:hover .film-info {
    visibility: visible;
}

.img-box {
    height: 500px;
    width: 300px;
}

.img-box:hover {
    background-color: black;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.img-box:hover .hover-cover {
    background: #110e0dcf;
    cursor: pointer;
}

.film-info {
    visibility: hidden;
    position: absolute;
    height: auto;
    top: 20px;
}

.img-box {
    border: 2px solid white;
    width: 100%;
}

.film-info i {
    color: yellow;
}