<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- VueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="search" v-model="txt" placeholder="Find your movie" >
        <button @click="searchMovie(txt)">Find your movie</button>
        
        <div v-if="filmsDb">
            <div v-for="film in filmsDb">
                <p>{{film.title}}</p>
                <p>{{film.original_title}}</p>
                <p>{{film.orginal_lenguage}}</p>
                <p>{{film.vote_average}}</p>
            </div>
        </div>
    </div>




    <script src="./main.js"></script>
</body>
</html>